*{
    padding: 0%;
    margin: 0%;
}

header{
    background-color: crimson;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
}

#h1header{
    padding-top: 0px;
}

a {
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
}

#menu{
    position: fixed;
}

img{
    width: 40px;
}

input[type="checkbox"]
{
    display: none;
}

nav{
    background-color:  crimson;
    width: 20%;
    height: 100%;
    left: -20%;
    position: fixed;
    transition: all .5s;
    border: ridge
    float: left;
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(100%);
}

nav a{
    display: block;
    padding: 20px 5px;
    color: black;
    text-decoration: none;
}

a:hover{
    background-color:lightcoral;
}

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}

#resume{
    width: 40%;
    padding-top: 100px;
    text-align: left;

}

@media (max-width: 600px){
    #resume{
        width: 80%;
        padding-top: 100px;
        text-align: left;
    }
    #menu{
        position: fixed;
        float: left;
    }
    
    nav{
        background-color:  crimson;
        width: 40%;
        height: 100%;
        left: -40%;
        position: fixed;
        transition: all .5s;
        border: ridge
        float: left;
    }
}